@namespace Dashboard.Shared
@inject NavigationManager Nav
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        @if (!IsLogin)
        {
            <SidebarNav/>
        }
    </Authorized>
</AuthorizeView>

<div class="pg-content">
    <ConnectionStatusBanner/>
    <div class="container" style="flex: 1 0 auto;">
        @Body
    </div>
    <Footer/>
</div>

<ToastContainer/>

@code {
    private bool IsLogin => string.Equals(Nav.ToBaseRelativePath(Nav.Uri).Trim('/'), "login", StringComparison.OrdinalIgnoreCase);
}
